<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>




    <script type='text/javascript'>
        let pickupMap;
        let dropoffMap;

        function GetMaps() {
            pickupMap = new Microsoft.Maps.Map('#pickupMap', {});
            dropoffMap = new Microsoft.Maps.Map('#dropoffMap', {});

            Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
                var options = {
                    countryFilter: 'NGA' // Specify the country code for Nigeria
                };

                var manager1 = new Microsoft.Maps.AutosuggestManager({ map: pickupMap, options: options });
                manager1.attachAutosuggest('#pickupSearchBox', '#pickupSearchBoxContainer', pickupSelectedSuggestion);

                var manager2 = new Microsoft.Maps.AutosuggestManager({ map: dropoffMap, options: options });
                manager2.attachAutosuggest('#dropoffSearchBox', '#dropoffSearchBoxContainer', dropOffSelectedSuggestion);
            });
        }


        function pickupSelectedSuggestion(result) {
            pickupMap.entities.clear();
            let pin = new Microsoft.Maps.Pushpin(result.location);
            pickupMap.entities.push(pin);
            pickupMap.setView({ bounds: result.bestView });
            document.getElementById('pickupSearchBox').value = result.formattedSuggestion;
            document.getElementById('pickupSearchBoxValue').value = result.formattedSuggestion;

        }
        function dropOffSelectedSuggestion(result) {
            dropoffMap.entities.clear();
            let pin = new Microsoft.Maps.Pushpin(result.location);
            dropoffMap.entities.push(pin);
            dropoffMap.setView({ bounds: result.bestView });

            document.getElementById('dropoffSearchBox').value = result.formattedSuggestion;
            document.getElementById('dropoffSearchBoxValue').value = result.formattedSuggestion;
        }

    </script>

    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMaps&key=<%= bingMapsKey %>'
        async defer></script>

    <style>
        th,
        td {
            border-right: 1px solid black;
            padding: 5px;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }
    </style>
</head>

<body>
    <!-- Orders Page -->


    <div class="order-history">
        <h1>Order History</h1>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th> Date</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(function(order) { %>
                    <tr>
                        <td>
                            <%= order.orderNumber %>
                        </td>
                        <td>
                            <%= order.orderDate %>
                        </td>
                        <td>
                            <%= order.OrderAmount %>
                        </td>
                        <td>
                            <%= order.orderStatus %>
                        </td>
                        <td><a href="/customer/order?id=<%= order._id %>">View Details</a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>


    <div class="new-order">
        <h1>New Order</h1>
        <form action="/orders" method="POST">
            <div style="display: inline-flex;">
                <div id='pickupSearchBoxContainer'>
                    <label for="pickup-location">Pickup Location:</label>
                    <input type="text" id="pickupSearchBox" name="pickupLocation" required autocomplete="off">
                    <input type="hidden" id="pickupSearchBoxValue" name="pickupSearchBox">
                </div>

                <div id="pickupMap" style="position:relative;width:400px;height:300px;"></div>

                <div id='dropoffSearchBoxContainer'>
                    <label for="dropoff-location">Dropoff Location:</label>
                    <input type="text" id="dropoffSearchBox" name="dropoffLocation" required autocomplete="off">
                    <input type="hidden" id="dropoffSearchBoxValue" name="dropoffSearchBox">
                </div>


                <div id="dropoffMap" style="position:relative;width:400px;height:300px"></div>
            </div>

            <select id="itemType" name="itemType">
                <option value="" disabled selected>Select item type</option>
                <option value="Groceries">Groceries</option>
                <option value="Accessories">Accessories</option>
                <option value="Books">Books</option>
                <option value="Clothes">Clothes</option>
                <option value="Electronics">Electronics</option>
                <option value="Furniture">Furniture</option>
                <option value="other">Other</option>
            </select>

            <label for="delivery-option">Delivery Option:</label>
            <select id="delivery-option" name="deliveryOption">
                <option value="Standard">Standard (3-5 days)</option>
                <option value="Express">Express (1-2 days)</option>
            </select>

            <label for="payment-option">Payment Option:</label>
            <select id="payment-option" name="paymentOption">
                <option value="Credit/Debit Card">Credit/Debit Card</option>
                <option value="PayPal">PayPal</option>
            </select>

            <button type="submit" name="submit">Place Order</button>
        </form>
    </div>

</body>

</html>