<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order
    </title>
    <style>
        th,
        td {
            border-right: 1px solid black;
            padding: 5px;
        }

        th:last-child,
        td:last-child {
            border-right: none;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th> Date</th>
                <th>Pickup Location</th>
                <th>Drop-off Location</th>
                <th>Distance_km</th>
                <th>Type of Item</th>
                <th>Order Amount</th>
                <th>Order Status</th>


            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <%= order.orderNumber %>
                </td>
                <td>
                    <%= order.orderDate %>
                </td>
                <td>
                    <%= order.pickupLocation %>
                </td>
                <td>
                    <%= order. dropoffLocation %>
                </td>
                <td>
                    <%= order.OrderDuration.distance_km %>
                </td>
                <td>
                    <%= order.itemType %>
                </td>

                <td>
                    <%= order.OrderAmount %>
                </td>

                <td>
                    <%= order.orderStatus %>
                </td>

            </tr>

        </tbody>
    </table>
    <button class="btn btn-danger" onclick="deleteOrder('<%= order._id %>')">
        <i class="fas fa-trash"></i> Delete
    </button>
</body>
<script>
    const deleteOrder = async (id) => {
        let url = '/order/delete?id=' + id
        const response = await fetch(url, {
            method: 'DELETE',
        })
        const results = await response.json()
        console.log(results)
        window.location.href = "/customer/orders-all"
    }
</script>

</html>